@import '../../../data_const/style_const';

.Button {
    display: block;

    &[ data-display="DISPLAY_INLINE_BLOCK" ] {
        display: inline-block;
    }

    &[ data-display="DISPLAY_HIDDEN" ] {
        visibility: hidden;
    }

    & > .Button_icon_box {
        position: relative;
        margin: 0 auto;
    }

    & > .Button_label_box {
        text-align: center;
        font-size: 12px;
        color: #898989;
        padding-top: 12px;
    }
}

