.Button {
    display: block;

    &[ data-hover="true" ] {
        path {
            stroke: rgba(0,102,153,1);
        }
    }

    & > .Button_icon_box {
        margin: 0 auto;
    }

    & > .Button_label_box {
        text-align: center;
        font-size: 12px;
        color: #898989;
        padding-top: 12px;
    }
}

