html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 16px / 100% Arial, sans-serif;
}

body {
    background-color: darkblue;
}

.border {
    border: 1px dotted #d3d3d3;
}

.IShop_wrapper {
    background-color: aliceblue;
    width: 960px;
    margin: 0 auto;

    & > .IShop_header_panel {
        height: 80px;
        padding-left: 5%;
        padding-top: 16px;
        border-bottom: 1px solid #d3d3d3;
        box-shadow: 0 2px 2px #d3d3d3;
        background-color: #ffffff;

        & > .IShop_header {
            font-size: 48px;
            font-weight: bold;
            display: inline-block;
            color: darkblue;
        }

        & > .IShop_slogan {
            font-style: italic;
        }
    }

}