.ButtonLabel {
    position: relative;
    padding: 16px 16px;
    color: #898989;
    cursor: pointer;



    & > .ButtonLabel_label {
        position: absolute;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        &:after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: ' ';
            display: block;
            height: 2px;
            border-bottom: 1px dotted #000000;
            width: 0;
            transition: width 300ms;
        }

        &[ data-label_align="center" ] {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &[ data-label_align="left" ] {
            top: 50%;
            left: 16px;
            transform: translate(0,-50%);
        }

        &[ data-label_align="right" ] {
            top: 50%;
            right: 16px;
            transform: translate(0,-50%);
        }

    }

    &:hover {
        color: #000000;
        & > .ButtonLabel_label {
            &:after {
                width: 100%;
            }
        }
    }

    &:active {
        font-size: 13px;

    }

    &[ data-active="true" ] {
        color: #000000;
    }
}
