/* wrapper */
$wrapperFieldColor: #f9f9f9;

/* mat-glass */
$matGlassColor: rgba(255,255,255,0.7);

/* form */
$borderRadiusDefault: 4px;
$modalFormBackgroundColor: #e3e3e3;

/* table */
$tableRowSelected: rgba(176,196,222,0.3);
$tableRowHovered: rgba(242, 242, 242, 1);

/* font */
$smallFont: 12px;
$normalFont: 16px;
$formHeaderFont: 18px;
$confirmationFont: 24px;

/* validation */
$validationHintColor: rgba(255,0,0,1);
$validationFieldColor: rgba(255,0,0,0.15);

/* message */
$inactiveFontColor: #898989;