.ProductList {

    & > .ProductList_filter_box {
        /*background-color: #ffffff;*/

        & > .ProductList_checkbox_container {
            width: 32px;
            height: 32px;
            float: left;
            position: relative;

            & > .ProductList_checkbox {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        & > .ProductList_filter_container {
            padding-right:  8px;
            padding-top:    4px;
            padding-bottom: 4px;
            margin-left:   32px;

            & > .ProductList_filter {
                width: 100%;
                padding: 4px 8px;
                outline: none;
                border: 1px solid #d3d3d3;
                border-radius: 4px;
                background-color: #ffffff;
            }
        }
    }

    & > .ProductList_list_box {
        padding: 8px;
        border: 1px solid #d3d3d3;
        border-radius: 4px;

        & > .ProductList_list {
            overflow: auto;

            & > .ProductList_list_item {
                background-color: #ffffff;
                width: 100%;
                cursor: pointer;
                padding: 8px 16px;
                border: 1px solid #d3d3d3;
                -ms-user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;

                &:hover {
                    background-color: #f2f2f2;
                }

                &[ data-selected="true" ] {
                    background-color: #d3d3d3;
                }
            }
        }


    }

}