.DateRangeChart {

    & > .DateRangeChart_caption {
        padding: 16px 16px 16px 32px;
        font-size: 32px;
        font-weight: bold;
        color: #898989;

        & > .DateRangeChart_subcaption {
            padding: 16px 0 0;
            font-size: 24px;
        }
    }

    div.chart_box {

        & > .os_y_note_box {
            position: relative;

            & > .os_y_note {
                position: absolute;
                transform-origin: 30% 220%;
                transform: rotate(-90deg);
                white-space: nowrap;
                /*transform: translate(-50%,-50%);*/
                left: 50%;
                top: 50%;
                color: #898989;
            }
        }

        & > div.chart {
            position: relative;

            path.chart_column:hover {
                stroke: #00EE76;
            }

            path.chart_column[ data-point="END_POINT" ],
            path.chart_column[ data-point="START_POINT" ] {
                stroke: orange;
                cursor: col-resize;
            }

            div.DateRangeChart_legend {
                position: absolute;
                bottom: -32px;
                text-align: center;
            }

            div.os_y_zero {
                position: absolute;
                bottom: 0;
                left: -3.5em;
                color: #898989;
                /*transform: translateX(-50%);*/
            }
        }
    }

    & > div.os_x {

        & > .os_x_note_box {
            position: relative;
            height: 32px;

            & > .os_x_note {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                color: #898989;
            }
        }
    }

    & > .points_info {

        & > .info_delta {
            font-size: 18px;
            font-weight: bold;
        }
    }
}