.DateRangeChart {

    & > .DateRangeChart_caption {
        padding: 16px 16px 16px 32px;
        font-size: 32px;
        font-weight: bold;
        color: #898989;
    }

    div.chart_box > div.chart {
        position: relative;

        path.chart_column:hover {
            stroke: #ff0000;
        }

        path.chart_column[ data-point="END_POINT" ],
        path.chart_column[ data-point="START_POINT" ] {
            stroke: orange;
            cursor: col-resize;
        }

        div.DateRangeChart_legend {
            position: absolute;
            bottom: -32px;
            text-align: center;
        }
    }






}