@import "../../../data_const/style_const";
@import "../../../data_const/style_animations";

.Button_icon_box {
    transition: transform 0.3s;

    & > svg.ButtonClear_icon {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        circle {
            fill: $wrapperFieldColor;
        }
    }

    &:hover {
        transform: scale(1.15);

        & > svg.ButtonClear_icon {

            circle {
                fill: rgba(255,255,255,1);
                stroke: #d3d3d3;
                stroke-width: 2;
            }

            path {
                stroke: rgba(0,102,153,1);
            }
        }
    }

    &:active {
        transform: scale(0.85);
        transition: transform 0.15s;

        & > svg.ButtonClear_icon {

            circle {
                stroke-width: 1;
            }
        }
    }
}


